In [25]:
# String Based

'''1. Write a program to reverse a string.'''

S1 = "Abcdefg"

S1[::-1]

'gfedcbA'

In [3]:
'''2. Check if a string is a palindrome.'''

L1 = input("Enter String : ")
str1 = ""

for i in L1:
    str1 = i + str1  
print("Reverse Order :  ", str1)

if(L1 == str1):
   print("This is a Palindrome String")
else:
   print("This is not Palindrome String")

Enter String :  AABBAA

Reverse Order :   AABBAA
This is a Palindrome String

In [4]:
'''3. Convert a string to uppercase.'''

L1 = input("Enter String : ")
str1 = ""
L1.upper()

Enter String :  pwskill

'PWSKILL'

In [5]:
'''4. Convert a string to lowercase.'''

L2 = input("Enter String : ")
L2.lower()

Enter String :  PWSKILL

'pwskill'

In [6]:
'''5. Count the number of vowels in a string.'''

v = ['a', 'e', 'i', 'o', 'u']

l1 = input("enter string: ")
count = 0
for i in l1:
    if i in v:
        count=count + 1
        
print(count)

enter string:  The pwskill is good course.

8

In [7]:
'''6. Count the number of consonants in a string.'''

v = ['a', 'e', 'i', 'o', 'u', 'A' , 'E', 'I', 'O', 'U']

l1 = input("enter string: ")
v_count = 0
c_count = 0
for i in l1:
    if i in v:
        v_count = v_count + 1
    elif((i>='a' and i<='z') or (i>='A' and i<='Z')):
            c_count = c_count + 1
print(c_count)

enter string:  The pwskill is good course.

14

In [8]:
'''7. Remove all whitespaces from a string.'''

S1 = input("Enter String : ")
S1.replace(" ", "")

Enter String :  The    pws  kill   is good co urse.

'Thepwskillisgoodcourse.'

In [9]:
'''8. Find the length of a string without using the `len()` function.'''

s1 = "Hello"
count = 0
for i in s1:
    count=count + 1
print(count)

5

In [10]:
'''9. Check if a string contains a specific word.'''

s1 = "This is my first lecture of Data Science pro course"
word = "Data"
if word in s1:
    print('yes')

yes

In [11]:
'''10. Replace a word in a string with another word.'''

s1 = "This is my first lecture of Data Science pro course"
s1.replace("first","second")

'This is my second lecture of Data Science pro course'

In [12]:
'''11. Count the occurrences of a word in a string.'''

s1 = "This is my first lecture of Data Science pro course and it is good."
s1.count("is")

3

In [13]:
'''12. Find the first occurrence of a word in a string.'''

s1 = "This is my first lecture of Data Science pro course and it is good."
s1.find("is")

2

In [14]:
'''13. Find the last occurrence of a word in a string.'''

s1 = "This is my first lecture of Data Science pro course and it is good."
s1.rfind("is")

59

In [15]:
'''14. Split a string into a list of words.'''

s1 = 'This is my first lecture of Data Science pro course and it is good.'
s1.split()

['This',
 'is',
 'my',
 'first',
 'lecture',
 'of',
 'Data',
 'Science',
 'pro',
 'course',
 'and',
 'it',
 'is',
 'good.']

In [16]:
'''15. Join a list of words into a string.'''

s1 = ["This","is","my","first","lecture","of","Data","Science","pro","course"]
" ".join(s1)

'This is my first lecture of Data Science pro course'

In [17]:
'''16. Convert a string where words are separated by spaces to one where words
are separated by underscores.'''

s1 = 'This is my first lecture of Data Science pro course and it is good.'
s2 = s1.split()
s3 = "_".join(s2)
s3

'This_is_my_first_lecture_of_Data_Science_pro_course_and_it_is_good.'

In [18]:
'''17. Check if a string starts with a specific word or phrase.'''

s1 = 'This is my first lecture of Data Science pro course and it is good.'
s1.startswith("This")

True

In [19]:
'''18. Check if a string ends with a specific word or phrase.'''

# Example 1
s1 = 'This is my first lecture of Data Science pro course and it is good.'
s1.endswith("This")

False

In [20]:
# Example 2

s2 = 'Hello india, How are you?'
s2.endswith("?")

True

In [21]:
'''19. Convert a string to title case (e.g., "hello world" to "Hello World").'''

S1 = " hello world "
S1.title()

' Hello World '

In [22]:
'''20.Find the longest word in a string.'''

s1 = 'This is my first lecture of Data Science pro course and it is good.'
longest = max(s1.split() , key = len )
print(longest)

lecture

In [23]:
'''21. Find the shortest word in a string.'''

s1 = 'This is my first lecture of Data Science pro course and it is good.'
shortest = min(s1.split() , key = len )
print(shortest)

is

In [24]:
'''22.Reverse the order of words in a string.'''

s1 = 'This is my first lecture of Data Science pro course and it is good.'
s2 = s1.split()
s2.reverse()
print(" ".join(s2))

good. is it and course pro Science Data of lecture first my is This

In [25]:
'''23.Check if a string is alphanumeric.'''

s1 = 'Hello12'
s1.isalnum()

True

In [26]:
'''24.Extract all digits from a string.'''

s1 = 'i am 18 year old'
for i in s1:
    if i.isdigit():
        print(i,end = "")

18

In [27]:
'''25. Extract all alphabets from a string.'''

s1 = 'i am 18 year old'
for i in s1:
    if i.isalpha():
        print(i,end = "")

iamyearold

In [28]:
'''26. Count the number of uppercase letters in a string.'''

s1 = 'This Is My first Lecture of Data Science Pro course and It is good.'
upper = 0
for i in s1:
    if i.isupper():
        upper = upper + 1
print(upper)

8

In [29]:
'''27. Count the number of lowercase letters in a string.'''

s1 = 'This Is My first Lecture of Data Science Pro course and It is good.'
lower = 0
for i in s1:
    if i.islower():
        lower = lower + 1
print(lower)

45

In [30]:
'''28.Swap the case of each character in a string.'''

s1 = 'This Is My first Lecture of Data Science Pro course and It is good.'
s1.swapcase()

'tHIS iS mY FIRST lECTURE OF dATA sCIENCE pRO COURSE AND iT IS GOOD.'

In [31]:
'''29.Remove a specific word from a string.'''

s1 = 'This Is My first Lecture of Data Science Pro course and It is good.'
s2 = s1.split()
s2.remove('Pro')
print(" ".join(s2))

This Is My first Lecture of Data Science course and It is good.

In [32]:
'''30. Check if a string is a valid email address.'''

import re
def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$' 
    if re.match(pattern, email):
        return True
    else:
        return False

email1 = input("Enter your 1st email address:")
email2 = input("Enter your 2nd email address:")
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

Enter your 1st email address: pwskill@gmail.com
Enter your 2nd email address: pw@com

True
False

In [33]:
'''31. Extract the username from an email address string.'''

email = input("Enter your email address:")
username = email.split('@')[0]
print(username)

Enter your email address: pwskill@gmail.com

pwskill

In [34]:
'''32. Extract the domain name from an email address string.'''

email = input("Enter your email address:")
domainname = email.split('@')[1]
print(domainname)

Enter your email address: pwskill@gmail.com

gmail.com

In [35]:
'''33. Replace multiple spaces in a string with a single space.'''

s1 = input("Enter string:")
s2 = s1.split()
print(" ".join(s2))

Enter string: The    pwskill is   good    course.

The pwskill is good course.

In [75]:
'''34. Check if a string is a valid URL.'''

import re
def is_valid_url(url):
    pattern = r"(?i)\b((?:https?://|www\d{0,3}[.]|[a-z0-9.\-]+[.][a-z]{2,4}/)(?:[^\s()<>]+|\(([^\s()<>]+|(\([^\s()<>]+\)))*\))+(?:\(([^\s()<>]+|(\([^\s()<>]+\)))*\)|[^\s`!()\[\]{};:'\".,<>?«»“”‘’]))" 
    if re.match(pattern, url):
        return True
    else:
        return False

url1 = input("Enter your urls for validation:")
url2 = input("Enter your urls for validation:")
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)
print(result2)

Enter your urls for validation: https://lab.pwskills.com/my-labs
Enter your urls for validation: lab.pwskills/my-l

True
False

In [37]:
'''35. Extract the protocol (http or https) from a URL string.'''

url = input("Enter your url:")
protocol = url.split('://')[0]
print(protocol)

Enter your url: https://lab.pwskills.com/my-labs

https

In [38]:
'''36. Find the frequency of each character in a string.'''

string = input("Enter string:")

frequency = {}
for i in string:
    if i in frequency:
        frequency[i] += 1
    else:
        frequency[i] = 1
print(str(frequency))

Enter string: The pwskill is good course.

{'T': 1, 'h': 1, 'e': 2, ' ': 4, 'p': 1, 'w': 1, 's': 3, 'k': 1, 'i': 2, 'l': 2, 'g': 1, 'o': 3, 'd': 1, 'c': 1, 'u': 1, 'r': 1, '.': 1}

In [39]:
'''37. Remove all punctuation from a string.'''

import string

def remove_punctuation(input_string):
    no_punct = ""
    for char in input_string:
        if char not in string.punctuation:
            no_punct += char
    return no_punct

string1 = input("Enter string:")
print(remove_punctuation(string1))

Enter string: The pwskill, is good's course!!!.

The pwskill is goods course

In [40]:
'''38. Check if a string contains only digits.'''
    
def string_digit(string):
    
    return string.isdigit()

string1 = input("Enter string1:")
string2 = input("Enter string2:")
result1 = string_digit(string1)
result2 = string_digit(string2)
print("Contains only digits",result1)
print("Contains only digits",result2)

Enter string1: pwskill123
Enter string2: 345

Contains only digits False
Contains only digits True

In [41]:
'''39. Check if a string contains only alphabets.'''

    
def string_alpha(string):
    
    return string.isalpha()

string1 = input("Enter string1:")
string2 = input("Enter string2:")
string3 = input("Enter string3:")
result1 = string_alpha(string1)
result2 = string_alpha(string2)
result3 = string_alpha(string3)
print("The string contains only alphabets!",result1)
print("The string contains only alphabets!",result2)
print("The string contains only alphabets!",result3)

Enter string1: pwskill
Enter string2: pw123
Enter string3: 23

The string contains only alphabets! True
The string contains only alphabets! False
The string contains only alphabets! False

In [42]:
'''40. Convert a string to a list of characters.'''

string = input("Enter string:")
list = []
 
for i in string:
    list.append(i)
print(list)

Enter string: The pwskill is good course.

['T', 'h', 'e', ' ', 'p', 'w', 's', 'k', 'i', 'l', 'l', ' ', 'i', 's', ' ', 'g', 'o', 'o', 'd', ' ', 'c', 'o', 'u', 'r', 's', 'e', '.']

In [43]:
'''41.Check if two strings are anagrams.'''

def anagrams(str1, str2):
    str1 = str1.lower()
    str2 = str2.lower()
    return sorted(str1) == sorted(str2)

string1 = "hello"
string2 = "india"
string3 = "state"
string4 = "taste"

result1 = anagrams(string1, string2)
result2 = anagrams(string3, string4)

print(f"'{string1}' and '{string2}' are anagrams:",result1)
print(f"'{string3}' and '{string4}' are anagrams:",result2)

'hello' and 'india' are anagrams: False
'state' and 'taste' are anagrams: True

In [44]:
'''42.Encode a string using a Caesar cipher.'''

def encrypt(text,s):
    result = ""
    for i in range(len(text)):
        char = text[i]
        if (char.isupper()):
            result += chr((ord(char) + s - 65) % 26 + 65)
        else:
            result += chr((ord(char) + s - 97) % 26 + 97)
    return result
text = input("Enter text:")
s = int(input("Enter number for shift:"))
print ("Cipher: " + encrypt(text,s))

Enter text: Hello
Enter number for shift: 3

Cipher: Khoor

In [45]:
'''44. Find the most frequent word in a string.'''

def decrypt(text,s):
    result = ""
    for i in range(len(text)):
        char = text[i]
        if (char.isupper()):
            result += chr((ord(char) - s - 65) % 26 + 65)
        else:
            result += chr((ord(char) - s - 97) % 26 + 97)
    return result
text = input("Enter text:")
s = int(input("Enter number for shift:"))
print ("Cipher: " + decrypt(text,s))

Enter text: Khoor
Enter number for shift: 3

Cipher: Hello

In [46]:
'''44. Find the most frequent word in a string.'''

import re
from collections import Counter
string = input("Enter string:")
words = string.split()
counter = Counter(words)
max_word = counter.most_common(1)[0][0]

print(max_word)

Enter string: Hello world Hello india and hello evryone

Hello

In [47]:
'''45.Find all unique words in string.'''

import re
def unique_words(string):
    clean_string = re.sub(r'[^\w\s]', '',string).lower()
    words = set(clean_string.split())
    return(words)

string = input("Enter string:")
unique_word = unique_words(string)
print(unique_word)

Enter string: Hello world! how are you?

{'hello', 'world', 'you', 'how', 'are'}

In [48]:
'''46.Count the number of syllables in a string.'''

import re
def count_syllables(words):
    vowel= re.findall(r'[aeiou]+', words, re.IGNORECASE)
    return len(vowel)

words1 = input("Enter words1:")
words2 = input("Enter words2:")
words3 = input("Enter words3:")

syllables1 = count_syllables(words1)
syllables2 = count_syllables(words2)
syllables3 = count_syllables(words3)

print(f"'{words1}' has {syllables1} syllables:")
print(f"'{words2}' has {syllables2} syllables:")
print(f"'{words3}' has {syllables3} syllables:")

Enter words1: hello
Enter words2: banana
Enter words3: syllables

'hello' has 2 syllables:
'banana' has 3 syllables:
'syllables' has 2 syllables:

In [49]:
'''47.Check if a stirng contains special any characters.'''

import re
def special_char(string):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]') 
    match = pattern.search(string)
    return bool(match)

string1 = input("Enter your string1:")
string2 = input("Enter your string2:")
result1 = special_char(string1)
result2 = special_char(string2)
print(result1)
print(result2)

Enter your string1: pwskill@gamil.com
Enter your string2: pwskill123

True
False

In [50]:
'''48.Remove the nth word from a string.'''

def remove_nth_word(string, n):
    words=string.split()
    if n>=1 and n<=len(words):
        removed_word=words.pop(n-1)
        
        modified_string=' '.join(words)
        
        return modified_string, removed_word
    else:
        return None, None
string = input("Enter your string:")
n = 4

modified_string, removed_word = remove_nth_word(string, n)
if modified_string is not None:
        print("Modified string:", modified_string)
        print("removed word:", removed_word)
else:
        print("invalid number:")

Enter your string: The pwskill is good course.

Modified string: The pwskill is course.
removed word: good

In [74]:
'''49.Insert a word at nth position in string.'''

def insert_nth_word(string, insertword, n):
    words=string.split()
    if n>=1 and n<=len(words):
        words.insert(n-1, insertword)
        
        modified_string=' '.join(words)
        
        return modified_string
    else:
        return None, None
string = input("Enter your string:")
insertword = input("Enter word to insert:")
n = 4

modified_string = insert_nth_word(string, insertword, n)
if modified_string is not None:
    print("Modified string:", modified_string)
else:
    print("invalid number:")

Enter your string: The pwskill is course.
Enter word to insert: good

Modified string: The pwskill is good course.

In [52]:
'''convert a CSV string to a list of lists.'''

def csv_str_to_list(csv_string):
    
    string = csv_string.split('\n')
    
    result = [ ]
    
    for i in string:
        
        words=i.split(',')
        
        result.append(words)
        
    return result

csv_string = "Rank,Name,Marks\n1,ABC,98\n2,PQR,96\n3,XYZ,92"

list_of_lists = csv_str_to_list(csv_string)

for j in list_of_lists:
    
    print(j)

['Rank', 'Name', 'Marks']
['1', 'ABC', '98']
['2', 'PQR', '96']
['3', 'XYZ', '92']

In [53]:
'''List Based Practice Problem'''

'List Based Practice Problem'

In [54]:
'''1. Create a list with integers from 1 to 10.'''

list = [ i for i in range(1,11)]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
'''2. Find the length of a list without using the `len()` function.'''

def list_len(list):
    count=0
    for i in list:
        count += 1
    return count
    
list1 = [5,12,35,56,34]
length = list_len(list1)
print(length)

5

In [56]:
'''3. Append an element to the end of a list.'''

list = [10,20,30,40]
list.append(50)
list

[10, 20, 30, 40, 50]

In [57]:
'''4. Insert an element at a specific index in a list.'''

list = [10,20,30,50,"Abc",60,70]
list.insert(3,40)
list

[10, 20, 30, 40, 50, 'Abc', 60, 70]

In [58]:
'''5. Remove an element from a list by its value.'''

list = [10,20,30,50,"Abc",60,70]
list.remove("Abc")
list

[10, 20, 30, 50, 60, 70]

In [59]:
'''6. Remove an element from a list by its index.'''

list = [10,20,30,50,"Abc",60,70]
list.pop(5)
list

[10, 20, 30, 50, 'Abc', 70]

In [60]:
'''7. Check if an element exists in a list.'''

list = [10,20,30,40,50,60]  
i = 20
if i in list:
    print("Yes")
else:
    print("No")

Yes

In [61]:
'''8. Find the index of the first occurrence of an element in a list.'''

list = [10,20,30,40,20,50,60]

i = 20
if i in list:
    index = list.index(i)
    print(f"{i} is at index of {index}")
else:
    print("Number is not in list")

20 is at index of 1

In [62]:
'''9. Count the occurrences of an element in a list.'''

list = [10,20,30,40,30,50,20,60,30,70]

num = 30
count = list.count(30)
print(f"{num} is occurrence in list {count} time")

30 is occurrence in list 3 time

In [63]:
'''10. Reverse the order of elements in a list.'''

list = [10,20,30,40,50,60,70]

list.reverse()
print(list)

[70, 60, 50, 40, 30, 20, 10]

In [64]:
'''11. Sort a list in ascending order.'''

list = [40,10,50,30,70,60,20]
list.sort()
print(list)

[10, 20, 30, 40, 50, 60, 70]

In [65]:
'''12. Sort a list in descending order.'''

list = [40,10,50,30,70,60,20]
list.sort(reverse=True)
print(list)

[70, 60, 50, 40, 30, 20, 10]

In [66]:
'''13. Create a list of even numbers from 1 to 20.'''

list = [ i for i in range(2,21,2)]
print(list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [67]:
'''14. Create a list of odd numbers from 1 to 20.'''

list = [ i for i in range(1,20,2)]
print(list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [68]:
'''15. Find the sum of all elements in a list.'''

list = [1,2,3,4,5,6,7,8]
sum = 0
for i in list:
    sum = sum+i 
print(sum)

36

In [69]:
'''16. Find the maximum value in a list.'''

list = [40,10,50,30,70,60,20]
max(list)

70

In [70]:
'''17. Find the minimum value in a list.'''

list = [40,10,50,30,70,60,20]
min(list)

10

In [71]:
'''18. Create a list of squares of numbers from 1 to 10.'''

square = []
for i in range(1,11):
    square.append(i**2)
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [72]:
'''19. Create a list of random numbers.'''

import random

n=200
random_list = []
for i in range(n):
    random_list.append(random.randint(1,100))
print(random_list)

[23, 72, 32, 65, 81, 42, 38, 54, 1, 39, 97, 62, 87, 25, 31, 49, 90, 36, 13, 21, 27, 80, 38, 64, 72, 44, 30, 21, 44, 64, 9, 42, 8, 29, 57, 20, 4, 36, 91, 45, 32, 1, 5, 52, 36, 39, 16, 63, 100, 31, 8, 54, 31, 58, 86, 36, 58, 51, 51, 96, 49, 9, 95, 86, 26, 72, 16, 26, 43, 26, 55, 77, 23, 10, 71, 34, 86, 10, 18, 90, 78, 66, 10, 38, 93, 44, 92, 91, 65, 70, 31, 48, 20, 72, 85, 58, 27, 38, 9, 64, 69, 73, 27, 22, 67, 52, 66, 37, 94, 20, 72, 25, 23, 7, 19, 39, 46, 9, 38, 21, 42, 9, 92, 88, 93, 89, 10, 78, 9, 99, 66, 99, 11, 54, 70, 15, 14, 57, 11, 65, 70, 87, 63, 18, 27, 13, 2, 29, 12, 49, 32, 43, 26, 43, 54, 34, 24, 10, 79, 9, 34, 60, 26, 74, 59, 6, 25, 99, 75, 23, 4, 98, 48, 44, 24, 64, 3, 40, 45, 44, 25, 71, 27, 24, 13, 6, 59, 30, 10, 72, 38, 95, 62, 54, 30, 71, 20, 38, 18, 71]

In [6]:
'''20. Remove duplicates from a list.'''

my_list = [10, 20, 30, 30, 40, 50, 60, 70]

unique_set = list(set(my_list))

print(unique_set)

[70, 40, 10, 50, 20, 60, 30]

In [7]:
'''21. Find the common elements between two lists.'''

def common(a,b):
    a = set(a)
    b = set(b)
    if (a & b):
        print(list(a & b))
    else:
        print("No common numbers")

a = [1,2,3,4,5]
b = [4,5,6,7,8]

common(a,b)

[4, 5]

In [8]:
'''22. Find the difference between two lists.'''

list1 = [1,2,3,4,5]
list2 = [6,7,8,9]

difference = list(set(list1).difference(list2))
print(difference)

[1, 2, 3, 4, 5]

In [79]:
'''23. Merge two lists.'''

list1 = [1,2,3,4,5]
list2 = [6,7,8,9]

list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [80]:
'''24.Multiply all elements in a list by 2.'''

list = [1,2,3,4,5]
list2 = []
for i in list:
    list2.append(i * 2) 
print(list2)

[2, 4, 6, 8, 10]

In [81]:
'''25. Filter out all even numbers from a list.'''

list = [1,2,3,4,5,6,7,8,9,10]
list2 = []
for i in list:
    if i%2==0: 
        list2.append(i)
print("Even numbers list:", list2)

Even numbers list: [2, 4, 6, 8, 10]

In [82]:
'''26. Convert a list of strings to a list of integers.'''

string_list = ["10","20","30","40"]

integer_list = [int(i)for i in string_list]
    
print(integer_list)

[10, 20, 30, 40]

In [83]:
'''27. Convert a list of integers to a list of strings.'''

integer_list = [10, 20, 30, 40]

string_list = [str(i)for i in integer_list]
    
print(string_list)

['10', '20', '30', '40']

In [84]:
'''28. Flatten a nested list.'''

my_list = [[1],[2,3],[4,5,6,7]]

new_list = []
for i in my_list:
    for j in i:
            new_list.append(j)
print(new_list)

[1, 2, 3, 4, 5, 6, 7]

In [85]:
'''29. Create a list of the first 10 Fibonacci numbers.'''

a,b = 0,1
n = int(input("Enter number"))
list = []
counter = 0
while counter < n :
    list.append(a)
    c = a+b
    a = b
    b = c
    counter = counter + 1
print(list)

Enter number 10

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [86]:
'''30. Check if a list is sorted.'''
def sorted(list):
    for i in range(1, len(list)):
        if list[i] < list[i-1]:
            return False
    return True

list = [0, 1, 2, 3, 5, 8, 13, 21, 34]
if sorted(list):
    print("list is sorted")
else:
    print("list is not sorted")

list is sorted

In [87]:
'''31. Rotate a list to the left by `n` positions.'''

def rotate_left(list,n):
    n = n % len(list)
    
    rotated = list[n:] + list[:n]
    return rotated

list = [10,20,30,40,50,60]
n = 2

new_list = rotate_left(list,n)
print(new_list)

[30, 40, 50, 60, 10, 20]

In [88]:
'''31. Rotate a list to the right by `n` positions.'''

def rotate_right(list,n):
    n = n % len(list)
    
    rotated = list[-n:] + list[:-n]
    return rotated

list = [10,20,30,40,50,60]
n = 2

new_list = rotate_right(list,n)
print(new_list)

[50, 60, 10, 20, 30, 40]

In [89]:
'''33. Create a list of prime numbers up to 50.'''

prime = []
for i in range(2,50):
    isprime = True
    for j in range(2,i):
        if i % j == 0:
            isprime = False
    if isprime:
        prime.append(i)
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [90]:
'''34. Split a list into chunks of size `n`.'''

list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

start = 0
end = len(list)
stop = 5
for i in range(start,end,stop):
    x = i
    print(list[x:x+stop])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[11, 12, 13, 14, 15]

In [91]:
'''35. Find the second largest number in a list.'''

my_list = [10, 5, 20, 15, 30, 25]

my_list.sort()

print("second largest number is:",my_list[-2])

second largest number is: 25

In [92]:
'''36. Replace every element in a list with its square.'''

my_list = [1,2,3,4,5]
my_list = [ i ** 2 for i in my_list]
print(my_list)

[1, 4, 9, 16, 25]

In [93]:
'''37. Convert a list to a dictionary where list elements become keys and their
indices become values.'''

my_list = ['ABC','PQR','XYZ','MNO']

my_dict = {element: index for index, element in enumerate(my_list)}

print(my_dict)

{'ABC': 0, 'PQR': 1, 'XYZ': 2, 'MNO': 3}

In [94]:
'''38. Shuffle the elements of a list randomly.'''

import random

list1 = [1,2,3,4,5,6,7,8,9,10]

random.shuffle(list1)

print(list1)

[7, 9, 1, 5, 10, 4, 6, 8, 3, 2]

In [96]:
'''39. Create a list of the first 10 factorial numbers.'''
n = int(input("Enter number:"))
factorial = 1
while n > 0:
    factorial = factorial * n
    n = n-1
print(factorial)

Enter number: 10

3628800

In [97]:
'''40. Check if two lists have at least one element in common.'''

def common(list1,list2):
    for i in list1:
        if i in list2:
            return True
    return False
list1 = [1,2,3,4,5]
list2 = [5,6,7,8,9]

if common(list1,list2):
    print("The lists have at least one element in common.")
else:
    print("The lists do not have any common element.")

The lists have at least one element in common.

In [98]:
'''41. Remove all elements from a list.'''

list1 = [1,2,3,4,5]

list1.clear()

print(list1)

[]

In [99]:
'''42. Replace negative numbers in a list with 0.'''

my_list = [1,-2,5,-7,23,-56,7,21]
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
print(my_list)

[1, 0, 5, 0, 23, 0, 7, 21]

In [100]:
'''43. Convert a string into a list of words.'''

string = "Convert a string into a list of words"
string.split()

['Convert', 'a', 'string', 'into', 'a', 'list', 'of', 'words']

In [101]:
'''44. Convert a list of words into a string.'''

list1 = ['Convert', 'a', 'string', 'into', 'a', 'list', 'of', 'words']

list2 = ' '.join(list1)
print(list2)

Convert a string into a list of words

In [102]:
'''45. Create a list of the first `n` powers of 2.'''

n = 5
power_list = [ 2 ** i for i in range(n)]
print(power_list)

[1, 2, 4, 8, 16]

In [103]:
'''46. Find the longest string in a list of strings.'''

list1 = ["find","the","longest","list","of","stringss","are"]

longest_string = ""
for i in list1:
    if len(i) > len(longest_string):
        longest_string = i
print(longest_string)

stringss

In [104]:
'''47. Find the shortest string in a list of strings.'''

list2 = ["find","Banana","Apple","date","cherry","are"]

shortest_string = list2[0]

for i in list2:
    if len(i) < len(shortest_string):
        shortest_string = i
print(shortest_string)

are

In [105]:
'''48. Create a list of the first `n` triangular numbers.'''

def triagular_num(n):
    return[i * (i+1) // 2 for i in range(1,n+1)]

n = 5

triagular_list = triagular_num(n)
print(triagular_list)

[1, 3, 6, 10, 15]

In [106]:
'''49. Check if a list contains another list as a subsequence.'''

def sub_sequence(subsequence_list,main_list): 
    subseq_index = 0
    for element in main_list:
        if element == subsequence_list[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence_list):
                return True
    return False
    
main_list = [1,2,3,4,5,6,7,8]
subsequence_list = [1,6,7]

if sub_sequence(subsequence_list,main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list not contains the subsequence.")

Main list contains the subsequence.

In [107]:
'''50. Swap two elements in a list by their indices.'''

list1 = [1,2,3,4,5,6]

index1 = 1
index2 = 5

temp = list1[index1]
list1[index1] = list1[index2]
list1[index2] = temp

print(list1)

[1, 6, 3, 4, 5, 2]

In [108]:
'''Tuple Based Practice Problem :'''

'''1. Create a tuple with integers from 1 to 5.'''

t1 = (1,2,3,4,5)
print(type(t1))
print(t1)

<class 'tuple'>
(1, 2, 3, 4, 5)

In [109]:
'''2. Access the third element of a tuple.'''

t1 = (1,2,3,4,5)

third_element = t1[2]
print(third_element)

3

In [110]:
'''3. Find the length of a tuple without using the `len()` function.'''

t1 = (1,2,3,4,5,6,45,32,12)
count = 0

for i in t1:
    count = count+1
print(count)

9

In [111]:
'''4. Count the occurrences of an element in a tuple.'''

t1 = (1,2,3,4,5,6,5,7,8,5,9,6,10,5,11,12)
element = 5
count = 0
for i in t1:
    if i == element:
        count = count+1
print(f"The elemnet {element} occurrences {count} times in tuple.")

The elemnet 5 occurrences 4 times in tuple.

In [112]:
'''5. Find the index of the first occurrence of an element in a tuple.'''

t1 = (1,2,3,4,5,6,5,7,8,5,9,6,10,5,11,12)
t1.index(5)

4

In [113]:
'''6. Check if an element exists in a tuple.'''

t1 = (1,2,3,4,5,6,7,8,9)
element = 5
if element in t1:
    print(f"The elemnet {element} exist in tuple.")
else:
    print(f"The elemnet {element} does not exist in tuple.")

The elemnet 5 exist in tuple.

In [9]:
'''7. Convert a tuple to a list.'''

t1 = (1,2,3,4,5,6,7,8,9)
l1 = list(t1) 
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [115]:
'''8. Convert a list to a tuple.'''

my_list = [1, 2, 3, 4, 5]
my_tuple =tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

In [116]:
'''9. Unpack the elements of a tuple into variables.'''

t1 = (1,2,3)

var1,var2,var3 = t1

print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 1
var2: 2
var3: 3

In [117]:
'''10. Create a tuple of even numbers from 1 to 10.'''

l1 = [i for i in range(2,11,2)]
t1 = tuple(l1)
print(t1)

(2, 4, 6, 8, 10)

In [118]:
'''11. Create a tuple of odd numbers from 1 to 10.'''

l1 = [i for i in range(10) if i%2 == 1]
t1 = tuple(l1)
print(t1)

(1, 3, 5, 7, 9)

In [119]:
'''12. Concatenate two tuples.'''

t1 = (1,2,3,4,5)
t2 = (6,7,8,9)

t3 = t1+t2
print(t3)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [120]:
'''13. Repeat a tuple three times.'''

t1 = (1,2,3,4,5)

t2 = t1 * 3 
print(t2)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [121]:
'''14. Check if a tuple is empty.'''

t1 = ()
t2 = (6,7,8,9)

if not t1:
    print("Tuple t1 is empty.")
else:
    print("Tuple t1 is not empty.")

if not t2:
    print("Tuple t2 is empty.")
else:
    print("Tuple t2 is not empty.")

Tuple t1 is empty.
Tuple t2 is not empty.

In [122]:
'''15. Create a nested tuple.'''

t1 = ((1,2,3,4,5),("ABC","PQR"),(True,False))
print(t1)

((1, 2, 3, 4, 5), ('ABC', 'PQR'), (True, False))

In [123]:
'''16. Access the first element of a nested tuple.'''

t1 = ((1,2,3,4,5),("ABC","PQR"),(True,False))
t2 = t1[0]
print(t2)

(1, 2, 3, 4, 5)

In [124]:
'''17. Create a tuple with a single element.'''

t1 = (1,)
print(t1)

(1,)

In [125]:
'''18. Compare two tuples.'''

t1 = (1,2,3,4,5)
t2 = (5,6,7,8,9)

print(t1 == t2)
print(t1 != t2)
print(t1 < t2)
print(t1 <= t2)
print(t1 > t2)
print(t1 >= t2)

False
True
True
True
False
False

In [126]:
'''19. Delete a tuple.'''

t1 = (1,2,3,4)
del t1

print(t1) # --> this will raise error because tuple no longer exists.

NameError: name 't1' is not defined

In [127]:
'''20. Slice a tuple.'''

t1 = (1,2,3,4,5,6,7,8,9)

t2 = t1[3:5]

print(t2)

(4, 5)

In [128]:
'''21. Find the maximum value in a tuple.'''

t1 = (60,30,70,10,40,50)
max_value = max(t1)
print(max_value)

70

In [129]:
'''22. Find the minimum value in a tuple.'''

t1 = (60,30,70,10,40,50)
min_value = min(t1)
print(min_value)

10

In [130]:
'''23. Convert a string to a tuple of characters.'''

string = "My name is ABC."
t2 = tuple(string)
print(t2)

('M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'A', 'B', 'C', '.')

In [131]:
'''24. Convert a tuple of characters to a string.'''

t1 = ('M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'A', 'B', 'C','.')
string = ''.join(t1)
print(string)

My name is ABC.

In [132]:
'''25. Create a tuple from multiple data types.'''

t1 = (1,"HII",2.3,True)
print(t1)

(1, 'HII', 2.3, True)

In [133]:
'''26. Check if two tuples are identical.'''

t1 = (4,5,6)
t2 = (7,8,9)
t3 = (4,5,6)

identical1 = t1 == t2
identical2 = t1 == t3

print(identical1)
print(identical2)

False
True

In [10]:
'''27. Sort the elements of a tuple.'''

t1 = (5,2,8,3,10,1,4)

t2 = tuple(sorted(t1))
print(t2)

(1, 2, 3, 4, 5, 8, 10)

In [135]:
'''28. Convert a tuple of integers to a tuple of strings.'''

t1 = (1,2,3,4,5)
t2 = tuple(str(i) for i in t1)
print(t2)

('1', '2', '3', '4', '5')

In [136]:
'''29. Convert a tuple of strings to a tuple of integers.'''

t1 = ('1', '2', '3', '4', '5')
t2 = tuple(int(i) for i in t1)
print(t2)

(1, 2, 3, 4, 5)

In [137]:
'''30. Merge two tuples.'''

t1 = (1,2,3,4,5)
t2 = (6,7,8,9)

t3 = t1+t2
print(t3)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [138]:
'''31. Flatten a nested tuple.'''

def flatten(nested_tuple):
    flattened = []
    for i in nested_tuple:
        if isinstance(i,tuple):
            flattened.extend(flatten(i))
        else:
            flattened.append(i)
    return flattened

nested_tuple = ((1,2,3),(4,5,6,7),(8),(9,10))
t2 = tuple(flatten(nested_tuple))
print(t2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [139]:
'''32. Create a tuple of the first 5 prime numbers.'''

def prime(n):
    if n <= 1:
        return False
    for i in range(2,int(n ** 0.5)+1):
        if n % i == 0:
            return False
    return True

prime_list = [n for n in range(2,100) if prime(n)][:5]
prime_tuple = tuple(prime_list)
print(prime_tuple)

(2, 3, 5, 7, 11)

In [140]:
'''33. Check if a tuple is a palindrome.'''

def palindrome(t):
    return t == t[::-1]

palindrome_tup1 = (1,2,3,2,1)
palindrome_tup2 = (1,2,3,4,5)

t1 = palindrome(palindrome_tup1)
t2 = palindrome(palindrome_tup2)

print("t1 is palindrome:",t1)
print("t2 is not palindrome:",t2)

t1 is palindrome: True
t2 is not palindrome: False

In [141]:
'''34. Create a tuple of squares of numbers from 1 to 5.'''

t1 = tuple(i ** 2 for i in range(1,6))
print(t1)

(1, 4, 9, 16, 25)

In [142]:
'''35. Filter out all even numbers from a tuple.'''

t1 = (1,2,3,4,5,6,7,8,9,10)
t2 = tuple(i for i in t1 if i % 2 == 1)
print(t2)

(1, 3, 5, 7, 9)

In [143]:
'''36. Multiply all elements in a tuple by 2.'''

t1 = (1,2,3,4,5,6,7,8,9,10)
t2 = tuple(i * 2 for i in t1)
print(t2)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [144]:
'''37. Create a tuple of random numbers.'''

import random

random_t1 = tuple(random.randint(1,100) for _ in range(10))
print(random_t1)

(54, 33, 23, 61, 78, 61, 41, 83, 64, 22)

In [145]:
'''38. Check if a tuple is sorted.'''

def is_sorted(tup):
    for i in range(len(tup)-1):
        if tup[i] > tup[i+1]:
            return False
    return True

t1 = (1,2,3,4,5)
t2 = (5,3,1,4,2)

is_sorted1 = is_sorted(t1)
is_sorted2 = is_sorted(t2)

print("is_sorted1 is sorted.",is_sorted1)
print("is_sorted2 is not sorted.",is_sorted2)

is_sorted1 is sorted. True
is_sorted2 is not sorted. False

In [146]:
'''39. Rotate a tuple to the left by `n` positions.'''

def rotate_left(tup,n):
    n = n % len(tup)
    
    rotated = tup[n:] + tup[:n]
    return rotated

tuple = (1,2,3,4,5)
n = 2

new_tup = rotate_left(tuple,n)
print(new_tup)

(3, 4, 5, 1, 2)

In [147]:
'''40. Rotate a tuple to the right by `n` positions.'''

def rotate_right(tup,n):
    n = n % len(tup)
    
    rotated = tup[-n:] + tup[:-n]
    return rotated

tuple = (1,2,3,4,5)
n = 2

new_tup = rotate_right(tuple,n)
print(new_tup)

(4, 5, 1, 2, 3)

In [11]:
'''41. Create a tuple of the first 5 Fibonacci numbers.'''

a,b = 0,1
n = int(input("Enter number"))
list = []
counter = 0
while counter < n :
    list.append(a)
    c = a+b
    a = b
    b = c
    counter = counter + 1
t1 = tuple(list)
print(t1)

Enter number 5

(0, 1, 1, 2, 3)

In [13]:
'''42. Create a tuple from user input.'''

string = input("Enter tuples")

l1 = string.split(',')

T1 = tuple(l1)

print(T1)

Enter tuples 1,2,3,4,pwskill

('1', '2', '3', '4', 'pwskill')

In [1]:
'''43. Swap two elements in a tuple.'''

T1 = (1,2,3,4,5,6)

l1 = list(T1)

l1[2], l1[4] = l1[4], l1[2]

new_t = tuple(l1)

print(l1)

[1, 2, 5, 4, 3, 6]

In [23]:
'''44. Reverse the elements of a tuple.'''

T1 = (4,5,6,7,8,1,2,9,3)

reverse_T1 = T1[::-1]

print(reverse_T1)

(3, 9, 2, 1, 8, 7, 6, 5, 4)

In [16]:
'''45. Create a tuple of the first `n` powers of 2.'''

t1 = tuple(2 ** i for i in range(5))

print(t1)

(1, 2, 4, 8, 16)

In [153]:
'''46. Find the longest string in a tuple of strings.'''

t1 = ("Cricket","Bat","Stump","Four","Six","Batsman","Ball")

longest_t1 = max(t1 , key=len)

print(longest_t1)

Cricket

In [154]:
'''47. Find the shortest string in a tuple of strings.'''

t1 = ("Cricket","Bat","Stump","Four","Six","Batsman","AB")

shortest_t1 = min(t1, key = len)

print(shortest_t1)

AB

In [18]:
'''48. Create a tuple of the first `n` triangular numbers.'''

n = 5

t = tuple((i*(i+1)) // 2 for i in range(1,n+1))

print(t)

(1, 3, 6, 10, 15)

In [156]:
'''49. Check if a tuple contains another tuple as a subsequence.'''

def sub_sequence(main_tuple,sub_tuple): 
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False
    
main_tuple = (1,2,3,4,5,6,7,8)

sub_tuple = (6,7,8)

subseq = sub_sequence(main_tuple,sub_tuple)
print(subseq)

True

In [19]:
'''50. Create a tuple of alternating 1s and 0s of length `n`.'''

n = 10

t = tuple(i % 2 for i in range(n))

print(t)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [158]:
'''Set Based Practice Problem :'''

'''1. Create a set with integers from 1 to 5.'''

S1 = set()

S1.add(1)
S1.add(2)
S1.add(3)
S1.add(4)
S1.add(5)

print(S1)

{1, 2, 3, 4, 5}

In [159]:
'''2. Add an element to a set.'''

S1 = {1,2,3,4,5}

S1.add(6)

print(S1)

{1, 2, 3, 4, 5, 6}

In [160]:
''''3. Remove an element from a set.'''

S1 = {1,2,3,4,5}

S1.remove(3)

print(S1)

{1, 2, 4, 5}

In [161]:
'''4. Check if an element exists in a set.'''

S1 = {1,2,3,4,5}

i = 6

if i in S1:
    print("Yes")
else:
    print("NO")

NO

In [162]:
'''5. Find the length of a set without using the `len()` function.'''

S1 = {1,2,3,4,5}

count = 0

for i in S1:
    count = count+1
    
print("length:",count)

length: 5

In [163]:
'''6. Clear all elements from a set.'''

S1 = {1,2,3,4,5}

S1.clear()

print(S1)

set()

In [164]:
'''7. Create a set of even numbers from 1 to 10.'''

S1 = set()

for n in range(1,11):
    if n % 2 == 0:
        S1.add(n)
print(S1)

{2, 4, 6, 8, 10}

In [165]:
'''8. Create a set of odd numbers from 1 to 10.'''

S1 = set()

for n in range(1,11):
    if n % 2 == 1:
        S1.add(n)
print(S1)

{1, 3, 5, 7, 9}

In [166]:
'''9. Find the union of two sets.'''

s1 = {1,2,3,5,7,9}
s2 = {3,4,6,7,8}

Union = s1.union(s2)

print(Union)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [167]:
'''10. Find the intersection of two sets.'''

s1 = {1,2,3,5,7,9}
s2 = {3,4,6,7,8}

intersection = s1.intersection(s2)

print(intersection)

{3, 7}

In [168]:
'''11. Find the difference between two sets.'''

s1 = {1,2,3,5,7,9}
s2 = {3,4,6,7,8}

difference = s1.difference(s2)

print(s1)
print(s2)
print("difference between two set:",difference)

{1, 2, 3, 5, 7, 9}
{3, 4, 6, 7, 8}
difference between two set: {1, 2, 5, 9}

In [169]:
'''12. Check if a set is a subset of another set.'''

s1 = {1,2,3,5,7,9}
s2 = {3,5,7}

subset = s2.issubset(s1)

print("set s2 is subset of set s1:",subset)

set s2 is subset of set s1: True

In [170]:
'''13. Check if a set is a superset of another set.'''

s1 = {1,2,3,4,5,6}
s2 = {1,2,3}

superset = s1.issuperset(s2)

print("set s1 is superset of set s2:",superset)

set s1 is superset of set s2: True

In [171]:
'''14. Create a set from a list.'''

l1 = [1,2,3,4,5]

S1 = set(l1)

print(s1)

{1, 2, 3, 4, 5, 6}

In [5]:
'''15. Convert a set to a list.'''

s1 = {1,2,3,4,5}

l1 = list(s1)

print(l1)

[1, 2, 3, 4, 5]

In [4]:
'''16. Remove a random element from a set.'''

import random

S1 = {1,2,3,4}

element = random.choice(list(S1))

S1.remove(element)

print("Random element:",element)
print(S1)

Random element: 1
{2, 3, 4}

In [180]:
'''17. Pop an element from a set.'''

S1 = {1,2,3,4,5}

Pop_element = S1.pop()

print(Pop_element)
print(S1)

1
{2, 3, 4, 5}

In [184]:
'''18. Check if two sets have no elements in common.'''

S1 = {1,2,3,4,5}
S2 = {6,7,8,9}

common = S1.intersection(S2)

if not common:
    print("Two sets have no common elements.")
else:
    print("Two sets have no common elements.")

Two sets have no common elements.

In [185]:
'''19. Find the symmetric difference between two sets.'''

S1 = {1,2,3,4,5}
S2 = {4,5,6,7,8,9}

symmetric = S1 ^ S2

print(symmetric)

{1, 2, 3, 6, 7, 8, 9}

In [187]:
'''20. Update a set with elements from another set.'''

s1 = {1,2,3}
print(s1)

s2 = {4,5,6,7}
print(s2)

s1.update(s2)

print(s1)

{1, 2, 3}
{4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [24]:
'''21. Create a set of the first 5 prime numbers.'''

def prime(n):
    if n <= 1:
        return False
    for i in range(2,int(n ** 0.5)+1):
        if n % i == 0:
            return False
    return True

prime_list = [n for n in range(2,100) if prime(n)][:5]
prime_set = set(prime_list)
print(prime_set)

{2, 3, 5, 7, 11}

In [25]:
'''22. Check if two sets are identical.'''

S1 = {1,2,3,4,5}
S2 = {2,5,3,1,4}

if S1 == S2:
    print("Sets are identical")
else:
    print("Sets are not identical")

Sets are identical

In [28]:
'''23. Create a frozen set.'''

S1 = [1,2,3,4,5]

frozen_set =  frozenset(S1)

print(frozen_set)

frozenset({1, 2, 3, 4, 5})

In [29]:
'''24. Check if a set is disjoint with another set.'''

S1 = {1,2,3,4,5}
S2 = {6,7,8,9}

disjoint_set = S1.isdisjoint(S2)

print("Are the sets disjoint?",disjoint_set)

Are the sets disjoint? True

In [30]:
'''25. Create a set of squares of numbers from 1 to 5.'''

s1 = set()

for n in range(1,6):
    square =  n ** 2
    s1.add(square)
print(s1)

{1, 4, 9, 16, 25}

In [33]:
'''26. Filter out all even numbers from a set.'''

s1 = {1,2,3,4,5,6,7}

even_set = set()

for i in s1:
    if i % 2 == 0:
        even_set.add(i)
print("even number",even_set)

even number {2, 4, 6}

In [37]:
'''27. Multiply all elements in a set by 2.'''

S1 = {1,2,3,4,5}
S2 = set()
for i in S1:
    S3 = i * 2
    S2.add(S3)
print(S2)

{2, 4, 6, 8, 10}

In [38]:
'''28. Create a set of random numbers.'''

import random
num = 5

random_set = set()

for i in range(num):
    random_num = random.randint(1,100)
    random_set.add(random_num)
print(random_set)

{97, 36, 40, 13, 94}

In [40]:
'''29. Check if a set is empty.'''

my_set = set()

if not my_set:
    print("Set is empty.")
else:
    print("Set is not empty.")

Set is empty.

In [41]:
'''30. Create a nested set (hint: use frozenset).'''

S1 = {1,2,3,4}
S2 = {5,6,7,8}

frozenset_s1 = frozenset(S1)
frozenset_s2 = frozenset(S2)

nested_set = (frozenset_s1,frozenset_s2)

print(nested_set)

(frozenset({1, 2, 3, 4}), frozenset({8, 5, 6, 7}))

In [45]:
'''31. Remove an element from a set using the discard method.'''

S1 = {1,2,3,4,5,6}

S1.discard(3)

print(S1)

{1, 2, 4, 5, 6}

In [49]:
'''32. Compare two sets.'''

S1 = {1,2,3,4,5}
S2 = {4,5,6,7,8}

subset = S1.issubset(S2)
superset = S1.issuperset(S2)
intersection = S1.intersection(S2)
union = S1.union(S2)
difference1 = S1.difference(S2)
difference2 = S2.difference(S1)
print("Set 1:",S1)
print("Set 2:",S2)
print("subset:",subset)
print("superset:",superset)
print("intersection:",intersection)
print("union:",union)
print("difference1:",difference1)
print("difference2:",difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
subset: False
superset: False
intersection: {4, 5}
union: {1, 2, 3, 4, 5, 6, 7, 8}
difference1: {1, 2, 3}
difference2: {8, 6, 7}

In [50]:
'''33. Create a set from a string.'''

string = "This is pwskill course."

my_set = set(string)

print(my_set)

{'u', 'k', ' ', 'c', 's', 'w', 'h', 'o', 'r', 'p', 'l', 'i', 'e', 'T', '.'}

In [52]:
'''34. Convert a set of strings to a set of integers.'''

string_set = {"12","123","45"}

int_set = set()

for i in string_set:
    int_value = int(i)
    int_set.add(int_value)
print("String set",string_set)
print("integer set",int_set)

String set {'123', '45', '12'}
integer set {123, 12, 45}

In [53]:
'''35. Convert a set of integers to a set of strings.'''

int_set = {123, 12, 45}

string_set = set()

for i in int_set:
    string_value = str(i)
    string_set.add(string_value)
print("integer set",int_set)
print("String set",string_set)

integer set {123, 12, 45}
String set {'123', '45', '12'}

In [54]:
'''36. Create a set from a tuple.'''

t1 = (1,2,3,4,5)

s1 = set(t1)
print(s1)

{1, 2, 3, 4, 5}

In [55]:
'''37. Convert a set to a tuple.'''

s1 = {1, 2, 3, 4, 5}

t1 = tuple(s1)
print(t1)

(1, 2, 3, 4, 5)

In [5]:
'''38. Find the maximum value in a set.'''

s1 = {12,67,23,5,34,89,26}

max_value = None

for i in s1:
    if max_value is None or i > max_value:
        max_value = i

print(max_value)

89

In [6]:
'''39. Find the minimum value in a set.'''

s1 = {12,67,23,5,34,89,26}

min_value = None

for i in s1:
    if min_value is None or i < min_value:
        min_value = i

print(min_value)

5

In [9]:
'''40. Create a set from user input.'''

string = input("Enter string")

l1 = string.split(',')

S1 = set(l1)

print(S1)

Enter string pw,skills,done

{'done', 'pw', 'skills'}

In [10]:
'''41. Check if the intersection of two sets is empty.'''

S1 = {1,2,3,4,5}
S2 = {4,5,6,7,8}

intersection = S1.intersection(S2)

if not intersection:
    print("The intersection of two sets is empty.")
else:
    print("The intersection of two sets is not empty.")

The intersection of two sets is not empty.

In [13]:
'''42. Create a set of the first 5 Fibonacci numbers.'''

my_set = set()
a,b = 0,1
n = int(input("Enter number"))
counter = 0
while counter <= n :
    my_set.add(a)
    c = a+b
    a = b
    b = c
    counter = counter + 1
print(my_set)

Enter number 5

{0, 1, 2, 3, 5}

In [15]:
'''43. Remove duplicates from a list using sets.'''

l1 = [1,2,3,1,4,2,5,6,3]

s1 = set(l1)
print(s1)

{1, 2, 3, 4, 5, 6}

In [16]:
'''44. Check if two sets have the same elements, regardless of their count.'''

def same_element(s1,s2):
    sorted_l1 = sorted(list(s1))
    sorted_l2 = sorted(list(s2))
    
    return sorted_l1 == sorted_l2

s1 = {1,2,3,4,2,1}
s2 = {1,2,3,4}

result = same_element(s1,s2)

if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements")

The sets have the same elements.

In [17]:
'''45. Create a set of the first `n` powers of 2.'''

s1 = set(2 ** i for i in range(5))

print(s1)

{1, 2, 4, 8, 16}

In [18]:
'''46. Find the common elements between a set and a list.'''

s1 = {1,2,3,4,5,6}
l1 = [3,5,6]

list_to_set = set(l1)

common = []

for i in s1:
    if i in list_to_set:
        common.append(i)
print("common elements:",common)

common elements: [3, 5, 6]

In [19]:
'''47. Create a set of the first `n` triangular numbers.'''

n = 5

s = set((i*(i+1)) // 2 for i in range(1,n+1))

print(s)

{1, 3, 6, 10, 15}

In [20]:
'''48. Check if a set contains another set as a subset.'''

s1 = {1,2,3,5,7,9}
s2 = {3,5,7}

subset = s2.issubset(s1)

print("set s2 is subset of set s1:",subset)

set s2 is subset of set s1: True

In [21]:
'''49. Create a set of alternating 1s and 0s of length `n`.'''

n = 10

s = set(i % 2 for i in range(n))

print(s)

{0, 1}

In [23]:
'''50. Merge multiple sets into one.'''

s1 = {1,2,3,5,7,9}
s2 = {3,4,6,7,8,10}
s3 = {1,5,6,8,11,12,13}

Union = s1.union(s2,s3)

print(Union)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}